* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 62vh;
    background-image: url(./image/photo-1437719417032-8595fd9e9dc6.avif);
    background-position: center;
    background-size: cover;
    padding-top: 20px;
}

.container {
    width: 90%;
    height: 60px;
    background-color: transparent;
    margin: auto;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-list {
    display: flex;
    gap: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #443d3d;
    list-style: none;
}

.pad {
    color: black;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

.pad:hover {
    background-color: white;
}

li {
    /* color: brown;*/
    list-style: none;
    font-size: 1.0rem;
}

.menu-icon {
    font-size: 24px;
    font-weight: 700;
}

.content-wrapper {
    position: absolute;
    width: 100%;
    top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #443d3d;
    padding: 20px;
    margin: auto;
}

.content-wrapper h1 {
    font-size: 23px;
    font-weight: 700;
}

form {
    position: absolute;
    background: linear-gradient(to right, #eed80f, rgb(5, 118, 170));
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    /* justify-content: left; */
    padding: 30px;
}

.search-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-item div {
    color: #443d3d;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 10px;
}

.menu-icon {
    display: none;
}

.search-item input {
    height: 30px;
    padding: 0 50px;
    color: #5a5959;
}

.search-btn {
    height: 30px;
    padding: 0 30px;
    border-radius: 30px;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 25px;

}

.Servics {
    padding: 100px 0;
    background-color: rgb(205, 238, 205);
    margin-top: 190px;
}

.Servics h5 {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.Servics h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
}

.Servics .row {
    width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto fill), minmax(300px, 1fr)
}

.Servics .row .col {
    background: linear-gradient(to top, #fffcfc, #c8f3d7);
    padding: 4px;
    text-align: center;
    margin: 30px 10px;
}

.Servics .row .col h2 {
    font-size: 24px;
    margin: 20px;
    font-weight: 700;
}

.des {
    margin-bottom: 10px;
}

.destination {
    background: #f7efef;
}

.destination-card {
    background: #fff;
    padding-bottom: 30p;
    border: 1px solid #ccc;
}

.destination-card img {
    width: 100%;
    height: 300px;
}

.destination-card p {
    margin: 10px 10px 10px;
}

.destination-card h2 {
    margin: 10px 10px 20px;
}

.destination-card a {
    margin-top: 10px;
    margin: 10px 10px 20px;
    text-decoration: none;
    background: black;
    color: #fff;
    padding: 2px 20px;
    font-weight: 600;
}

footer {
    width: 100%;
    background-color: #616361;
    padding: 15px 0;
}

footer p {
    text-align: center;
    color: #ccc;
}

.containe {
    width: 90%;
    height: 60px;
    background-color: transparent;
    margin: auto;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav {
    margin-top: 20px
}

.bod {
    background-image: url(./image/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}

@media (max-width: 600) {
    .container {
        font-size: 14px;
        width: 100%;
        display: flex;

        flex-direction: column;

    }

    .nav-list {
        display: none;
        display: flex;
        flex-direction: column;
    }
    .logo{max-width: 100vw;
        height: auto;}
}