* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 62vh;
    background-image: url(./image/photo-1437719417032-8595fd9e9dc6.avif);
    background-position: center;
    background-size: cover;
    padding-top: 20px;
}

.container {
    width: 90%;
    height: 60px;
    background-color: transparent;
    margin: auto;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-list {
    display: flex;
    gap: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #443d3d;

}

li {
    /* color: brown;*/
    list-style: none;
    font-size: 1.0rem;
}

.menu-icon {
    font-size: 24px;
    font-weight: 700;
}

.content-wrapper {
    position: absolute;
    width: 100%;
    top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #443d3d;
    padding: 20px;
    margin: auto;
}
.content-wrapper h1{
    font-size: 23px;
    font-weight: 700;
}
form{    position: absolute;
      bottom: 0;
      background: linear-gradient(to right, yellow,blue)}
      .menu-icon{display: none;}

@media (max-width: 600px) {
    .nav-list {
        display: none;
    }
}